<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <input class="form-control" [(ngModel)]="title" name="title" type="text" placeholder="Add Task...">
  </div>
</form>
<div class="task-list">
  <div *ngFor = "let task of tasks">
    <div class="col-md-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-md-10">
      {{task.title}}
    </div>
    <div class="col-md-1">
      <input class="btn btn-danger" (click)="deleteTask(task._id)" type="button" value="Delete">
    </div>
    <br><br>
  </div>
</div>